.modalWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(19 4 24 / 83%);
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.tooltipWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}